/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) {
/* Styles */
    .container  {
      width: 310px;
    }

    .container_nova  {
      width: 90%;
    }

    .slider-post {
      height: 280px;
      width: 100%;
    }

    .hgrande {
      width: 300px!important;
    }

    .news-slider {
        padding-right: 10%;
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 1.5rem;
    }

    .news-hgrande {
        font-size: 1.3rem;
        line-height: 1.2rem;
    }

}



/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1024px) {
    .container  {
      width: 970px;
    }

    .container_nova  {
      width: 90%;
    }

    .slider-post {
      height: 280px;
      width: 100%;
    }

}

/* Large screens ----------- */
@media only screen
and (min-width : 1280px) {
      .container  {
        width: 970px;
      }
      .container_nova  {
        width: 90%;
      }
      .slider-post {
        height: 320px;
        width: 100%;
      }

      .news-slider {
          padding-right: 10%;
          font-weight: 800;
          font-size: 2.1rem;
          line-height: 2.1rem;
      }

      .news-hgrande {
          font-size: 1.8rem;
          line-height: 1.8rem;
      }

}


.news-slider {
    position: absolute;
    bottom: 20px;
    left: 3%;
    z-index: 99;
    padding-right: 3%;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.news-hgrande {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 400;
    padding: 5px;
}

.news {
    padding: 15px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.7rem;
}

.news-h {
    padding: 5px 15px 10px 15px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 300;
    font-size: 0.9rem;
    line-height: 1rem;
}

.news-text {
    padding: 5px 15px 10px 15px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 200;
    font-size: 1rem;
    line-height: 1.1rem;
}

.newscard {
    margin-bottom: 10px;
}

.hnewscard {
    max-height: 80px;
}

/* Gradient color1 - color2 - color1 */
hr.style-one {
    border: 0;
    height: 1px;
    background: #f4f4f4;
    background-image: linear-gradient(to right, #f4f4f4, #ccc, #f4f4f4);
  }

  /* Posicionamentos nos cantos */

  .nocanto1 {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 99;
  }

  .nocanto2 {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 99;
  }

  .nocanto3 {
    position: absolute;
    bottom: 5px;
    left: 5px;
    z-index: 99;
  }

  .nocanto4 {
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 99;
  }

.colunista {
    overflow: hidden;
    position: relative;
    height: auto;
}

#caluna img{
  width: 120px;
  height: 120px;
  margin-left: 25%;
}

.fit-center{
  max-width:100%;
   max-height:100%;
   vertical-align: middle;
}

.entry-title {
	font-size: 2.5rem;
	font-weight: 800;
	margin-top: -10px;
}

h1.page-title {
	font-size: 2.5rem;
	font-weight: 800;
	margin-left: 30px;
}

.entry-content p {
	font-weight: 600;
	font-size: 1.2rem;
	text-align: justify;
}

.btn-floating.halfway-fab {
    position: absolute;
    left: -70px;
    bottom: 40px;
}

.news {
    font-size: 1.2rem !important;
    line-height: 1.3em !important;
}
h8 {
	font-weight: 700;
}
.widget {
	margin-bottom: 10px;
	margin-top: 10px
}

.hnewscard{
	max-height: 80px;
	overflow: hidden;
}

.news-hgrande {
    font-size: 1.4rem;
    line-height: 1.5rem;
}

.size-small {
	display: inline-flex;

}
.icon {
	width: 90px;
	height: 90px;
}


.news-destaque {
    position: absolute;
    bottom: 20px;
    left: 5%;
    z-index: 99;
    padding-right: 5%;
    font-family: 'Roboto', sans-serif;
}

.news-destaque {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.1rem;
}

.destaque-post {
  height: 200px;
  width: 100%;
}
